# dependencies
/node_modules

# builds
/dist
/.vite

# Vercel and Netlify
.vercel
.netlify

# Electron build output
build
release
*.exe

# system files
.DS_Store
Thumbs.db

# logs and debug
*.log
npm-debug.log*

# optional IDE
.vscode
.idea
